# Questions for this data from stackoverflow from years 2017,2018 and 2019:
## 1. What is the most popular lever of formal education individuals will hold for year 2020?
## 2. What will be the most desired language to work with?
## 3.Country with the most users for 2020

In [1]:
import pandas as pd 
import dask.dataframe as dd 
import os
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/dask/dataframe/utils.py:14: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Reading data and cleaning

In [2]:
data2017 = pd.read_csv('project1_data/developer_survey_2017/survey_results_public.csv')
data2017['SurveyYear'] = 2017
data2017.shape[1]
data2017 = data2017.rename(columns={'WantWorkLanguage':'LanguageDesireNextYear'})
data2017.columns.values

array(['Respondent', 'Professional', 'ProgramHobby', 'Country',
       'University', 'EmploymentStatus', 'FormalEducation',
       'MajorUndergrad', 'HomeRemote', 'CompanySize', 'CompanyType',
       'YearsProgram', 'YearsCodedJob', 'YearsCodedJobPast',
       'DeveloperType', 'WebDeveloperType', 'MobileDeveloperType',
       'NonDeveloperType', 'CareerSatisfaction', 'JobSatisfaction',
       'ExCoderReturn', 'ExCoderNotForMe', 'ExCoderBalance',
       'ExCoder10Years', 'ExCoderBelonged', 'ExCoderSkills',
       'ExCoderWillNotCode', 'ExCoderActive', 'PronounceGIF',
       'ProblemSolving', 'BuildingThings', 'LearningNewTech',
       'BoringDetails', 'JobSecurity', 'DiversityImportant', 'AnnoyingUI',
       'FriendsDevelopers', 'RightWrongWay', 'UnderstandComputers',
       'SeriousWork', 'InvestTimeTools', 'WorkPayCare',
       'KinshipDevelopers', 'ChallengeMyself', 'CompetePeers',
       'ChangeWorld', 'JobSeekingStatus', 'HoursPerWeek', 'LastNewJob',
       'AssessJobIndustry', 'AssessJobRole', 'AssessJobExp',
       'AssessJobDept', 'AssessJobTech', 'AssessJobProjects',
       'AssessJobCompensation', 'AssessJobOffice', 'AssessJobCommute',
       'AssessJobRemote', 'AssessJobLeaders', 'AssessJobProfDevel',
       'AssessJobDiversity', 'AssessJobProduct', 'AssessJobFinances',
       'ImportantBenefits', 'ClickyKeys', 'JobProfile', 'ResumePrompted',
       'LearnedHiring', 'ImportantHiringAlgorithms',
       'ImportantHiringTechExp', 'ImportantHiringCommunication',
       'ImportantHiringOpenSource', 'ImportantHiringPMExp',
       'ImportantHiringCompanies', 'ImportantHiringTitles',
       'ImportantHiringEducation', 'ImportantHiringRep',
       'ImportantHiringGettingThingsDone', 'Currency', 'Overpaid',
       'TabsSpaces', 'EducationImportant', 'EducationTypes',
       'SelfTaughtTypes', 'TimeAfterBootcamp', 'CousinEducation',
       'WorkStart', 'HaveWorkedLanguage', 'LanguageDesireNextYear',
       'HaveWorkedFramework', 'WantWorkFramework', 'HaveWorkedDatabase',
       'WantWorkDatabase', 'HaveWorkedPlatform', 'WantWorkPlatform',
       'IDE', 'AuditoryEnvironment', 'Methodology', 'VersionControl',
       'CheckInCode', 'ShipIt', 'OtherPeoplesCode', 'ProjectManagement',
       'EnjoyDebugging', 'InTheZone', 'DifficultCommunication',
       'CollaborateRemote', 'MetricAssess', 'EquipmentSatisfiedMonitors',
       'EquipmentSatisfiedCPU', 'EquipmentSatisfiedRAM',
       'EquipmentSatisfiedStorage', 'EquipmentSatisfiedRW',
       'InfluenceInternet', 'InfluenceWorkstation', 'InfluenceHardware',
       'InfluenceServers', 'InfluenceTechStack', 'InfluenceDeptTech',
       'InfluenceVizTools', 'InfluenceDatabase', 'InfluenceCloud',
       'InfluenceConsultants', 'InfluenceRecruitment',
       'InfluenceCommunication', 'StackOverflowDescribes',
       'StackOverflowSatisfaction', 'StackOverflowDevices',
       'StackOverflowFoundAnswer', 'StackOverflowCopiedCode',
       'StackOverflowJobListing', 'StackOverflowCompanyPage',
       'StackOverflowJobSearch', 'StackOverflowNewQuestion',
       'StackOverflowAnswer', 'StackOverflowMetaChat',
       'StackOverflowAdsRelevant', 'StackOverflowAdsDistracting',
       'StackOverflowModeration', 'StackOverflowCommunity',
       'StackOverflowHelpful', 'StackOverflowBetter',
       'StackOverflowWhatDo', 'StackOverflowMakeMoney', 'Gender',
       'HighestEducationParents', 'Race', 'SurveyLong',
       'QuestionsInteresting', 'QuestionsConfusing', 'InterestedAnswers',
       'Salary', 'ExpectedSalary', 'SurveyYear'], dtype=object)

In [3]:
data2018 = pd.read_csv('project1_data/developer_survey_2018/survey_results_public.csv')
data2018['SurveyYear'] = 2018
data2018.shape[1]
data2018.columns.values

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

array(['Respondent', 'Hobby', 'OpenSource', 'Country', 'Student',
       'Employment', 'FormalEducation', 'UndergradMajor', 'CompanySize',
       'DevType', 'YearsCoding', 'YearsCodingProf', 'JobSatisfaction',
       'CareerSatisfaction', 'HopeFiveYears', 'JobSearchStatus',
       'LastNewJob', 'AssessJob1', 'AssessJob2', 'AssessJob3',
       'AssessJob4', 'AssessJob5', 'AssessJob6', 'AssessJob7',
       'AssessJob8', 'AssessJob9', 'AssessJob10', 'AssessBenefits1',
       'AssessBenefits2', 'AssessBenefits3', 'AssessBenefits4',
       'AssessBenefits5', 'AssessBenefits6', 'AssessBenefits7',
       'AssessBenefits8', 'AssessBenefits9', 'AssessBenefits10',
       'AssessBenefits11', 'JobContactPriorities1',
       'JobContactPriorities2', 'JobContactPriorities3',
       'JobContactPriorities4', 'JobContactPriorities5',
       'JobEmailPriorities1', 'JobEmailPriorities2',
       'JobEmailPriorities3', 'JobEmailPriorities4',
       'JobEmailPriorities5', 'JobEmailPriorities6',
       'JobEmailPriorities7', 'UpdateCV', 'Currency', 'Salary',
       'SalaryType', 'ConvertedSalary', 'CurrencySymbol',
       'CommunicationTools', 'TimeFullyProductive', 'EducationTypes',
       'SelfTaughtTypes', 'TimeAfterBootcamp', 'HackathonReasons',
       'AgreeDisagree1', 'AgreeDisagree2', 'AgreeDisagree3',
       'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear',
       'PlatformWorkedWith', 'PlatformDesireNextYear',
       'FrameworkWorkedWith', 'FrameworkDesireNextYear', 'IDE',
       'OperatingSystem', 'NumberMonitors', 'Methodology',
       'VersionControl', 'CheckInCode', 'AdBlocker', 'AdBlockerDisable',
       'AdBlockerReasons', 'AdsAgreeDisagree1', 'AdsAgreeDisagree2',
       'AdsAgreeDisagree3', 'AdsActions', 'AdsPriorities1',
       'AdsPriorities2', 'AdsPriorities3', 'AdsPriorities4',
       'AdsPriorities5', 'AdsPriorities6', 'AdsPriorities7',
       'AIDangerous', 'AIInteresting', 'AIResponsible', 'AIFuture',
       'EthicsChoice', 'EthicsReport', 'EthicsResponsible',
       'EthicalImplications', 'StackOverflowRecommend',
       'StackOverflowVisit', 'StackOverflowHasAccount',
       'StackOverflowParticipate', 'StackOverflowJobs',
       'StackOverflowDevStory', 'StackOverflowJobsRecommend',
       'StackOverflowConsiderMember', 'HypotheticalTools1',
       'HypotheticalTools2', 'HypotheticalTools3', 'HypotheticalTools4',
       'HypotheticalTools5', 'WakeTime', 'HoursComputer', 'HoursOutside',
       'SkipMeals', 'ErgonomicDevices', 'Exercise', 'Gender',
       'SexualOrientation', 'EducationParents', 'RaceEthnicity', 'Age',
       'Dependents', 'MilitaryUS', 'SurveyTooLong', 'SurveyEasy',
       'SurveyYear'], dtype=object)

In [4]:
data2019 = pd.read_csv('project1_data/developer_survey_2019/survey_results_public.csv')
data2019['SurveyYear'] = 2019
data2019 = data2019.rename(columns={'EdLevel':'FormalEducation'})
data2019.columns.values

array(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer',
       'OpenSource', 'Employment', 'Country', 'Student',
       'FormalEducation', 'UndergradMajor', 'EduOther', 'OrgSize',
       'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro', 'CareerSat',
       'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors',
       'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc', 'CompTotal',
       'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear',
       'PlatformWorkedWith', 'PlatformDesireNextYear',
       'WebFrameWorkedWith', 'WebFrameDesireNextYear',
       'MiscTechWorkedWith', 'MiscTechDesireNextYear', 'DevEnviron',
       'OpSys', 'Containers', 'BlockchainOrg', 'BlockchainIs',
       'BetterLife', 'ITperson', 'OffOn', 'SocialMedia', 'Extraversion',
       'ScreenName', 'SOVisit1st', 'SOVisitFreq', 'SOVisitTo',
       'SOFindAnswer', 'SOTimeSaved', 'SOHowMuchTime', 'SOAccount',
       'SOPartFreq', 'SOJobs', 'EntTeams', 'SOComm', 'WelcomeChange',
       'SONewContent', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Dependents', 'SurveyLength', 'SurveyEase', 'SurveyYear'],
      dtype=object)

In [5]:
allData_complete = pd.concat([data2017,data2018,data2019], axis=0, ignore_index=True,sort=False)
allData_complete = allData_complete.reset_index(drop=True)

In [6]:
pd.DataFrame(allData_complete.groupby(['FormalEducation','SurveyYear']).count()['Respondent'])

                                                               Respondent
FormalEducation                                    SurveyYear
Associate degree                                   2018              2970
                                                   2019              2938
Bachelor's degree                                  2017             21609
Bachelor’s degree (BA, BS, B.Eng., etc.)           2018             43659
                                                   2019             39134
Doctoral degree                                    2017              1308
I never completed any formal education             2017               426
                                                   2018               700
                                                   2019               553
I prefer not to answer                             2017              1109
Master's degree                                    2017             11141
Master’s degree (MA, MS, M.Eng., MBA, etc.)        2018             21396
                                                   2019             19569
Other doctoral degree (Ph.D, Ed.D., etc.)          2018              2214
                                                   2019              2432
Primary/elementary school                          2017              1047
                                                   2018              1656
                                                   2019              1422
Professional degree                                2017               715
Professional degree (JD, MD, etc.)                 2018              1447
                                                   2019              1198
Secondary school                                   2017              5908
Secondary school (e.g. American high school, Ge... 2018              8951
                                                   2019              8642
Some college/university study without earning a... 2017              8129
Some college/university study without earning a... 2018             11710
                                                   2019             10502

# Cleaning data for Formal Education prediction

In [7]:
data_FormalEducation = allData_complete[['Respondent','FormalEducation','SurveyYear']]
data_FormalEducation = data_FormalEducation.dropna(axis=0)
data_FormalEducation = data_FormalEducation.reset_index(drop=False)

myRegex = ["(?i)bachelor.*","(?i).*master.*","(?i).*doctoral.*","(?i).*some.*","(?i).*secondary.*","(?i).*professional.*"]
myValues = ["Bachelor's degree","Master’s degree","Doctoral degree","Some college/university study without earning a degree","Secondary school","Professional degree"]

data_FormalEducation = data_FormalEducation.replace(to_replace=myRegex, value=myValues, regex=True)

In [8]:
FormalEd_grouped = pd.DataFrame(data_FormalEducation.groupby(['FormalEducation','SurveyYear']).count()['Respondent'])
FormalEd_grouped

                                                               Respondent
FormalEducation                                    SurveyYear
Associate degree                                   2018              2970
                                                   2019              2938
Bachelor's degree                                  2017             21609
                                                   2018             43659
                                                   2019             39134
Doctoral degree                                    2017              1308
                                                   2018              2214
                                                   2019              2432
I never completed any formal education             2017               426
                                                   2018               700
                                                   2019               553
I prefer not to answer                             2017              1109
Master’s degree                                    2017             11141
                                                   2018             21396
                                                   2019             19569
Primary/elementary school                          2017              1047
                                                   2018              1656
                                                   2019              1422
Professional degree                                2017               715
                                                   2018              1447
                                                   2019              1198
Secondary school                                   2017              5908
                                                   2018              8951
                                                   2019              8642
Some college/university study without earning a... 2017              8129
                                                   2018             11710
                                                   2019             10502

In [9]:
eds = FormalEd_grouped.index.get_level_values("FormalEducation").unique()
educationResults = pd.DataFrame(columns=['FormalEducation','2020Forecast'])

# Loop through education levels to make predictions for year 2020

In [10]:
results_ind = 0
for ed in eds:
    X = FormalEd_grouped.xs(ed).index.values.reshape(-1,1)
    Y = FormalEd_grouped.loc[(ed,), ].values.reshape(-1, 1) # values converts it into a numpy array
    linear_regressor = LinearRegression(n_jobs=-1)
    linear_regressor.fit(X, Y)
    Y_pred = linear_regressor.predict([[2020]])
    
    educationResults.loc[results_ind, 'FormalEducation'] = ed
    educationResults.loc[results_ind, '2020Forecast'] = Y_pred[0][0]
    results_ind += 1

## Conclusion to question 1
#### Results show that most users on stackoverflow will hold a Bachelor's degree for year 2020

In [11]:
educationResults.sort_values('2020Forecast', ascending=False)

                                     FormalEducation 2020Forecast
1                                  Bachelor's degree      52325.7
5                                    Master’s degree      25796.7
9  Some college/university study without earning ...      12486.7
8                                   Secondary school      10567.7
2                                    Doctoral degree      3108.67
0                                   Associate degree         2906
6                          Primary/elementary school         1750
7                                Professional degree         1603
4                             I prefer not to answer         1109
3             I never completed any formal education      686.667

# Cleaning data for desired language prediction
#### *Assumed the first selected language was the most desired by the individual for the purpose of this example

In [12]:
dataLanguage = allData_complete[['Respondent','LanguageDesireNextYear','SurveyYear']]
dataLanguage = dataLanguage.dropna(axis=0)
dataLanguage = dataLanguage.reset_index(drop=False)
dataLanguage.LanguageDesireNextYear = dataLanguage.LanguageDesireNextYear.apply(lambda x: x.split(";")[0])
dataLanguage.LanguageDesireNextYear = dataLanguage.LanguageDesireNextYear.apply(lambda x: x.split("/")[0])


Language_grouped = pd.DataFrame(dataLanguage.groupby(['LanguageDesireNextYear','SurveyYear']).count()['Respondent'])
Language_grouped

                                   Respondent
LanguageDesireNextYear SurveyYear
Assembly               2017              1923
                       2018              4165
                       2019              4659
Bash                   2018                42
                       2019             19041
...                                       ...
VBA                    2018                27
                       2019                24
Visual Basic 6         2017                10
                       2018                 6
WebAssembly            2019               104

[101 rows x 1 columns]

In [13]:
langs = Language_grouped.index.get_level_values("LanguageDesireNextYear").unique()
langsResults = pd.DataFrame(columns=['LanguageDesireNextYear','2020Forecast'])

In [14]:
results_ind = 0
for ed in langs:
    X = Language_grouped.xs(ed).index.values.reshape(-1,1)
    Y = Language_grouped.loc[(ed,), ].values.reshape(-1, 1) # values converts it into a numpy array
    linear_regressor = LinearRegression(n_jobs=-1)
    linear_regressor.fit(X, Y)
    Y_pred = linear_regressor.predict([[2020]])
    
    langsResults.loc[results_ind, 'LanguageDesireNextYear'] = ed
    langsResults.loc[results_ind, '2020Forecast'] = Y_pred[0][0]
    results_ind += 1

## Conclusion to question 2
#### Results show that most users' most desired language for year 2020 will be Bash

In [15]:
langsResults.sort_values('2020Forecast', ascending=False)

   LanguageDesireNextYear 2020Forecast
1                    Bash        38040
17                   HTML        21528
3                      C#      16153.3
4                     C++      8460.33
15                     Go      8281.67
2                       C      6704.33
20                   Java      6516.33
0                Assembly      6318.33
31                 Python      4575.67
21             JavaScript         4479
10                   Dart       2897.5
19                Haskell         2275
23                 Kotlin         2095
12                 Elixir         1771
6                 Clojure         1757
8            CoffeeScript         1664
16                 Groovy         1606
34                   Rust      777.333
38                  Swift          630
13                 Erlang      548.667
14                     F#          493
29                    PHP      437.333
39             TypeScript      432.333
26            Objective-C      351.667
28              Other(s):          347
25                 Matlab          347
32                      R          341
22                  Julia          299
35                    SQL      274.667
33                   Ruby      254.333
30                   Perl          244
9             Common Lisp          235
18                   Hack          217
36                  Scala      215.333
24                    Lua          164
43            WebAssembly          104
11                 Delphi           83
37              Smalltalk           81
41                    VBA      38.3333
40                 VB.NET           12
27                  Ocaml           11
7                   Cobol            8
5                     CSS            5
42         Visual Basic 6           -2

# Cleaning data for country with the most users prediction

In [16]:
dataCountry = allData_complete[['Respondent','Country','SurveyYear']]
dataCountry = dataCountry.dropna(axis=0)
dataCountry = dataCountry.reset_index(drop=False)

# myRegex = ["[1]$","Less than.*","[3]$","1 to 2 years","0-2 years"]
# myValues = ["0-3 years","0-3 years","0-3 years","0-3 years","0-3 years"]

# dataCountry.YearsCoding = dataCountry.Country.replace(to_replace=myRegex, value=myValues, regex=True)  

# dataExperience.YearsCoding = dataExperience.YearsCoding.apply(lambda x: x.split(";")[0])
# dataExperience.YearsCoding = dataLanguage.LanguageDesireNextYear.apply(lambda x: x.split("/")[0])


Country_grouped = pd.DataFrame(dataCountry.groupby(['Country','SurveyYear']).count()['Respondent'])
Country_grouped

                          Respondent
Country       SurveyYear
Afghanistan   2017                60
              2018                64
              2019                44
Aland Islands 2017                22
Albania       2017                76
...                              ...
Zambia        2018                 9
              2019                12
Zimbabwe      2017                20
              2018                39
              2019                39

[563 rows x 1 columns]

In [17]:
countries = Country_grouped.index.get_level_values("Country").unique()
countryResults = pd.DataFrame(columns=['Country','2020Forecast'])

In [18]:
results_ind = 0
for ed in countries:
    X = Country_grouped.xs(ed).index.values.reshape(-1,1)
    Y = Country_grouped.loc[(ed,), ].values.reshape(-1, 1) # values converts it into a numpy array
    linear_regressor = LinearRegression(n_jobs=-1)
    linear_regressor.fit(X, Y)
    Y_pred = linear_regressor.predict([[2020]])
    
    countryResults.loc[results_ind, 'Country'] = ed
    countryResults.loc[results_ind, '2020Forecast'] = Y_pred[0][0]
    results_ind += 1

## Conclusion to question 3
#### Results show that the highest numnber of users for year 2020 will be from the United States

In [19]:
countryResults.sort_values("2020Forecast", ascending=False)

               Country 2020Forecast
228      United States        27065
96               India      13190.3
78             Germany      7212.33
226     United Kingdom         6793
40              Canada         4169
..                 ...          ...
153              Niger            0
67             Eritrea           -1
182        Saint Lucia           -1
155        North Korea     -1.33333
34   Brunei Darussalam           -3

[242 rows x 2 columns]